{
  components = (
    {
      name = "Integrator";
      id = "int";
      description = "Integrates the input signal";
      className = "DSPIntegratorViewController";
      viewClassName = "DSPIntegratorView";
    },
    
    {
      name = "Signal Source";
      id = "sig";
      description = "Generates a sine waveform with a given frequency and amplitude";
      className = "DSPSignalSourceViewController";
      viewClassName = "DSPSignalSourceView";
    },
    
    {
      name = "Wire";
      id = "w";
      description = "Connects components to allow transfer of signal";
      className = "DSPWireViewController";
      viewClassName = "DSPWireView";
    }
  );
}