{
  components = (
    {
      name = "Integrator";
      symbol = "int";
      description = "Integrates the input signal";
      className = "DSPIntegrator";
      viewClassName = "DSPIntegratorView";
    },
    
    {
      name = "Signal Source";
      symbol = "sig";
      description = "Generates a sine waveform with a given frequency and amplitude";
      className = "DSPSignalSource";
      viewClassName = "DSPSignalSourceView";
    },
    
    {
      name = "Scope";
      symbol = "sco";
      description = "Displays the waveform of signal connected to its input";
      className = "DSPScope";
      viewClassName = "DSPScopeView";
    },
    
    {
      name = "Sample and Hold";
      symbol = "sah";
      description = "Samples the input signal and holds it for the specified interval";
      className = "DSPSampleAndHold";
      viewClassName = "DSPSampleAndHoldView";
    },
    
    {
      name = "Quantizer";
      symbol = "q";
      description = "Quantizes the input signal to specified levels";
      className = "DSPQuantizer";
      viewClassName = "DSPQuantizerView";
    },
    
    {
      name = "Summation";
      symbol = "sum";
      description = "Adds or subtracts input signals";
      className = "DSPSummation";
      viewClassName = "DSPSummationView";
    },
    
    {
      name = "Wire";
      symbol = "w";
      description = "Connects components to allow transfer of signal";
      className = "DSPWire";
      viewClassName = "DSPWireView";
    }
  );
}